---
Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-*, performance-*, cppcoreguidelines-*, -cppcoreguidelines-pro-bounds-constant-array-index, bugprone-*, modernize-*, -modernize-use-trailing-return-type, -modernize-use-nodiscard, -llvm-*, -fuchsia-*, -google-*, -zircon-*, -abseil-*, -android-*'
WarningsAsErrors: 'true'
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value:           0;1;2;3;4;5;6;7;8;9;10
  - key:             readability-magic-numbers.IgnoredIntegerValues
    value:           0;1;2;3;4;5;6;7;8;9;10
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
...
