# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
build/
build_debug/
build-debug/
build_release/
build-release/
cmake-build-debug*/
cmake-build-release*/
cmake_build_debug*/
cmake_build_release*/

# VSCode specific settings
.vscode
.vs
CppProperties.json
# checks.json is specific to VSCode CTidy extension.
checks.json

# CLion specific
.idea

# Qt Creator specific
.qtcreator

# zed specific 
.zed

# clangd specific
.clangd/
.cache
.clangd.swp
Footer

# conan specific
conan.lock
conanbuildinfo.txt
conaninfo.txt
FindCLI11.cmake
FindGTest.cmake
graph_info.json
